{{define "header"}}
{{if .IsHX }}
    <header id="header" hx-swap-oob="innerHTML">
    {{end}}
<h1 class="text-xl font-bold italic">QuikVote</h1>
    {{if .IsHX }}
</header>
{{end}}
{{end}}

{{define "main"}}
<button class="block bg-blue-600 text-white py-3 px-4 rounded-md text-lg cursor-pointer hover:bg-blue-800" hx-get="/new"
    hx-target="#app" hx-target="#app" hx-push-url="true">New QuikVote</button>
<button class="block bg-blue-600 text-white py-3 px-4 rounded-md text-lg cursor-pointer hover:bg-blue-800"
    hx-get="/join" hx-target="#app" hx-push-url="true">Join QuikVote</button>
{{if not .LoggedIn}}
<p className="mt-5 text-base">
    <a class="text-blue-800 font-bold no-underline" hx-boost="true" href="/login" hx-target="#app">Login/Register</a> to
    create
    or join a QuikVote
</p>
{{end}}
{{end}}