{{define "header"}}
{{if .IsHX }}
<header id="header" hx-swap-oob="innerHTML">
    {{end}}
    <nav>
        <ul class="list-none flex gap-4">
            <li>
                <a class="text-white text-xl font-medium underline decoration-transparent hover:text-blue-600"
                    hx-boost="true" hx-target="#app" href="/">
                    <span class="material-symbols-outlined">arrow_back</span>
                </a>
            </li>
        </ul>
    </nav>
    <h1 class="text-xl font-bold font-sans non-italic">Join</h1>
    {{if .IsHX }}
</header>
{{end}}
{{end}}

{{define "main"}}
<form class="flex flex-col gap-2">
    <img id="icon" class="w-32 h-32 rounded-full mx-auto" src={{.IconUrl}} alt="icon" />
    <p>Make sure this icon matches the QuikVote that you want to join</p>
    <input class="text-xl p-2 border-2 border-gray-800 rounded-lg mb-4 text-center w-full leading-6" id="code"
        name="code" type="text" maxLength={{.MaxLength}} placeholder="Enter your QuikVote code..." required _="on keyup queue last
            get (my value).toUpperCase()
            set my value to it
            if it's length is 4
                set #icon.src to '{{.IconUrl}}' + it" />
    <button
        class="block bg-blue-600 text-white p-4 rounded-md font-medium text-base border-none hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-default"
        hx-get={{.RoomUrl}} hx-target="#app" hx-push-url="true">Join QuikVote</button>
</form>
</main>
{{end}}