{{define "header"}}
{{if .IsHX }}
<header id="header" hx-swap-oob="innerHTML">
    {{end}}
    <h3>{{.Data.Room.Code}}</h3>
    <span class="material-symbols-outlined">content_copy</span>
    <span class="">Copied</span>
    {{if .IsHX }}
</header>
{{end}}
{{end}}

{{define "main"}}
<div class="flex flex-col flex-grow gap-4" hx-ext="ws" ws-connect="/ws">
    <ul class="list-none p-0 mb-4 flex-1">
        {{range .Options}}
        {{template "option" .}}
        {{else}}
        <p>Add an option...</p>
        {{end}}
    </ul>
    <form class="flex justify-center mb-4" ws-send>
        <input class="p-4 border-2 border-gray-300 rounded-l-md flex-1 text-base" type="text"
            placeholder="Add to list" />
        <button
            class='py-2 px-4 border-none bg-blue-600 text-white cursor-pointer rounded-r-md transition-colors duration-300 hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-default disabled:hover:bg-gray-400'
            type="submit" {{if .Disabled}} disabled {{end}}>
            <span class="material-symbols-outlined">add</span>
        </button>
    </form>
    <button
        class="block bg-blue-600 text-white p-4 rounded-md font-medium text-base border-none hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-default"
        hx-get="/results" hx-target="#app" hx-push-url="true">Lock in vote</button>
</div>
{{end}}

{{define "option"}}
<li class="flex justify-between items-center p-4 text-base mb-2 bg-white rounded-md shadow">{{.Name}}
    <div class="flex gap-2 items-center">
        <button
            class="bg-white text-black border-none py-1 px-2 rounded-md cursor-pointer transition-colors duration-300 flex items-center hover:bg-blue-200 disabled:text-gray-400 disabled:cursor-default disabled:hover:bg-white"
            {{if .Disabled}} disabled {{end}}>
            <span class="material-symbols-outlined">arrow_downward</span>
        </button>
        <span class="text-xl w-[1.2em]">{{.Value}}</span>
        <button
            class="bg-white text-black border-none py-1 px-2 rounded-md cursor-pointer transition-colors duration-300 flex items-center hover:bg-blue-200 disabled:text-gray-400 disabled:cursor-default disabled:hover:bg-white"
            {{if .Disabled}} disabled {{end}}>
            <span class="material-symbols-outlined">arrow_upward</span>
        </button>
    </div>
</li>
{{end}}