<header className="header">
    <h1 className="header__title">QuikVote</h1>
    <nav>
        <ul className="header__nav-list">
            <li>
                <NavLink className="header__nav-link" to='login'>
                    <span className="material-symbols-outlined">account_circle</span>
                </NavLink>
            </li>
        </ul>
    </nav>
</header>
<main className="main">
    {{template "main" .}}
</main>


<footer className="footer"></footer>
<span className="text-reset">Josh Hendershot</span>
<a className="footer__link" href="https://github.com/henderj/startup">Github</a>
</footer>